.container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;   
}

.form {
    display: flex;
    flex-direction: column;    
}

.top-space {
    margin-top: 10px;
}

.notes {
    margin-left: 20px;
    border-left: 2px solid black;
    padding-left: 20px;
}

.note {
    padding: 10px;
    border: 2px solid black;
}

.warning {
    color: red;
}